
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#props {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #eee;
}

#props > div:first-child {
	margin: 10px;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
